<main class='index'>
   <header class='masthead d-flex'>
      <div class='container text-center my-auto'>
         <h1 class='mb-1'>Contacts App</h1>
         <h3 class='mb-5'>
            <em>Create a list of contacts</em>
         </h3>
         <a class='btn btn-primary' href='/signin'>Let's started</a>
      </div>
   </header>
</main>