<div class='container p-4'>
   <div class='row'>

      {{#each contacts}}
         <div class='col-md-3'>
            <div class='card text-center'>
               <div class='card-body'>
                  <a href=''>
                     <h3 class='card-title text-uppercase'>
                        {{contact}}
                     </h3>
                  </a>
                  <h5>number: {{number}}</h5>
                  <h5>description: {{description}}</h5>
                  <p>{{timeago created_at}}</p>
                  <button class='btn btn-danger'>Delete</button>
                  <button class='btn btn-secondary'>Edit</button>
               </div>
            </div>
         </div>
      {{/each}}
   </div>
</div>